body{
	background-color: #eeeeee;
}
hr{
	border-style:none;
	background-color: red;
	border-top-style: dotted;
	border-color:grey;
	border-width:5px;
	width: 20%;
}
h1:hover{
	color: red;
}
h3{
	color: red;
}
/**********************Classes**************/
.apple{
	background-color : green;

}

.Mango{
	background-color : white;
	
}
.circular{
	border-radius: 200px;
}

#heading{
	color: blue;
}